# Eclipse project config files...
.cproject
.project
.settings
# CMake/gmake related config files...
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
# Editor backup files...
*.bak
*~
# Compile generated content
*.o
microcom


